body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url('photos/z6047540792279_8e1e463c22655a99297d4e0f552f86e7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.container
{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

}

h1, h2
{
    text-align: center;
    color: #333;
}

.form-group
{
    margin-bottom: 20px;
}

.form-group label
{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input
{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button
{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover
{
    background-color: #218838;
}

table
{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td
{
    border: 1px solid #ddd;
}

th, td
{
    padding: 10px;
    text-align: center;
}

th
{
    background-color: #f8f8f8;
}
/* mobile */
@media only screen and (max-width: 739px)
{
    .container {
        max-width: 400px;
        margin: 20px auto;
        padding: 10px;
    }
    .form-group input {
        width: 95%;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
}
/*tablet*/
@media only screen and (min-width: 740px) and (max-width: 1024px)
{
    
}